# Large files
*.avi
*.mp4
*.h5
*.pth
*.zip
Semantic_Segmentation/UNet/keras/data
# YOLO pre-trained model
Objects_Detection/YOLO/yolo-coco/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.idea/
logs

#jupyter-notebook checkpoints
.ipynb_checkpoints

# Dataset folders
gtsrb-german-traffic-sign

