# Large files
*.avi
*.mp4
*.h5
*.pth
*.zip
*.pb
Semantic_Segmentation/UNet/keras/data
# YOLO pre-trained model
Objects_Detection/YOLO/yolo-coco/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.idea/
logs

#jupyter-notebook checkpoints
.ipynb_checkpoints

# Dataset folders
gtsrb-german-traffic-sign

# Deeplab pretrained models
deeplab*
Semantic_Segmentation/Tensorflow_Deeplab_ModelZoo/frames/

# Images from datasets
Semantic_Segmentation/ENet/images/
Semantic_Segmentation/UNet/data/
Sidewalk_segmentation/sidewalk_dataset/

